@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'android' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

body{
    background-color: #DEF4E7;
    margin: 0px;

}

header{
    background-image:linear-gradient(to top,#1A5C38, #268851,#31AD68 ,#34B96F,#3CD983);
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.267);

}
header > p{
    color: rgba(240, 235, 235, 0.897);
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.795);
    
}
#principal{
    font-size: 2em;
    font-family: "orbitron",sans-serif;
    text-align: center;
    color: #DEF4E7;
    font-weight: lighter;
    text-shadow: 1px 1px 8px black;
}

nav > a{
    margin-right: 5px;  
    font-size: 0.7em;
    text-align: left;
    color: white;
    text-decoration: none
}

nav > a:hover{
    background-color: #3a9161cb;
    padding: 5px;
}

main{
    padding: 20px;
    background-color: white;
    margin: 0px 50px 1px 50px;
    box-shadow: -2px 9px 16px rgba(0, 0, 0, 0.432);
}

.title{
    font-size: 1.5em;
    font-family: 'android';
    text-shadow: 1px 1px 2px#31ad695e;
}

.paragraph{
    text-indent: 20px;
   text-align:justify ;
} 

mark{
    background-color: #57b68249;
    text-shadow: 1px 1px 2px#31ad695e;
    
}
.color{
    text-shadow: 1px 1px 2px#31ad695e;
}

.link{
    text-shadow: 2px 2px 3px#31ad6996;
    text-decoration: none;
    color: black;
    background-color: #62be8a67;
}
a.link:hover{
    font-size: 1.2em;
}
.auto{
    text-align: center;
}

#video{
    margin: 0px 53px ;
    background-color: #2b4235e7;
}

footer{
    padding: 20px;
    background-color: white;
    margin: 0px 50px 1px 50px;
    box-shadow: -2px 9px 16px rgba(0, 0, 0, 0.432);
}

footer > section > article{
    padding-bottom: 10px;
    box-shadow: -2px 8px 20px rgba(0, 0, 0, 0.267);
    
}


#list{
    background-color: #38b9584f;
    border-radius: 10px;
}
.title2{
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1em;
    background-color: #268851;
    padding:8px 0px;
    font-weight: 500;
    border-radius: 10px 10px 0px 0px;
}

.paragraph2{
    text-indent: 20px;
    padding: 0px 10px 0px 10px;
    text-align: justify;
    padding:0px 10px;
}