@charset "UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to left,#593A27,#A67153 );
}
main{
    border-radius: 20px;
    background-color: antiquewhite;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow:5px 5px 10px  #462a21bd;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
    color: #593A27;
    text-shadow:1px 1px 5px #A67153
}

h2{
    color: #A67153;
}