@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    /* medidas absolutas: 
    cm/mm/px/pt,in/pc

    medidas relativas:
    em,ex,rem,vw,vh,%
    */
    font-size: 1em ;
}

h1{
    /*font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    */
    /*shorthand font
    -font-style --> font weight --> font-size --> font- family */
    font: italic bold 3em 'Times New Roman',times,serif;
}

h2{
    font: bold 2em 'times new roman',times,serif;
}
