*{ /* configurações globais */
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#0BD9A5,#31594F,#25332F);
}
main{
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 600px;
    padding: 10px;
    margin: auto;
    background-color: #25332F;
}
h1{
    color: antiquewhite;
}
h2{
    color: antiquewhite;
}
p{
    color: aliceblue;
}